<form method="post" action="{{ path('app_sous_categorie_delete', {'id': sous_categorie.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cette sous-Catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sous_categorie.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
