{% extends 'base.html.twig' %}

{% block title %}Modification de Sous Categorie
{% endblock %}

{% block contenu %}
	<div class="container">
		<h1>Modification de Sous Categorie</h1>

		<a href="{{ path('app_sous_categorie_index') }}" class="btn btn-primary">Retour liste</a>
		<tbody class="d-flex justify-content-center ">
			{{ include('sous_categorie/_form.html.twig', {'button_label': 'Modifier'}) }}
			<br>
			{{ include('sous_categorie/_delete_form.html.twig') }}
		</tbody>
	</div>
{% endblock %}
