{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sous-Catégories{% endblock %}

{% block style %}
	<style>
    .btn{
        margin:0.1%;
    }
    </style>
{% endblock %}

{% block contenu %}
    <h3>Créer une nouvelle Sous-Catégorie</h3>

    {{ include('sous_categorie/_form.html.twig') }}

    <a href="{{ path('app_sous_categorie_index') }}" class="btn btn-primary">Retour à la liste des Sous-Catégories</a>
{% endblock %}



