{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sous-Catégories{% endblock %}

{% block contenu %}
    <h1>Créer une nouvelle Sous-Catégorie</h1>

    {{ include('sous_categorie/_form.html.twig') }}

    <a href="{{ path('app_sous_categorie_index') }}"class="btn btn-primary">Retour à la liste des sous-catégories</a>
{% endblock %}

{% block style %}
	<style></style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace {{ app.user.userIdentifier }} !
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
