{% extends 'base.html.twig' %}

{% block title %}Sous-Catégories{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block navbarTop %}
 <div class="logOut">  
    {% if app.user %}
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
   </div>
 {% endblock %}
 

{# mettre votre contenu dans les blocs #}
{% block contenu %}
<h1>SOUS CATEGORIE</h1>
{% endblock %}
