{% extends 'base.html.twig' %}

{% block title %}Modification de Produit
{% endblock %}

{% block contenu %}
	<div class="container">
		<h1>Modification de Produit</h1>
		<a href="{{ path('app_produit_index') }}" class="btn btn-primary">Retour liste</a>
		<tbody class="d-flex justify-content-center ">
			{{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}

			<br/>
			{{ include('produit/_delete_form.html.twig') }}
		</tbody>
	</div>
{% endblock %}
