{% extends 'base.html.twig' %}

{% block title %}Edition Produits{% endblock %}

{% block contenu %}
    <h1>Éditer un Produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}

    <a href="{{ path('app_produit_index') }}" class = "btn btn-primary">Retour Liste</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
