{% extends 'base.html.twig' %}

{% block title %}Créer un Nouveau Produit{% endblock %}

{% block contenu %}
    <h1>Créer un Nouveau Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}" class = "btn btn-primary">Retour Liste</a>
{% endblock %}
