{% extends 'base.html.twig' %}

{% block title %}Créer un Nouveau Produit{% endblock %}
{% block style %}
<style>
    .btn{
    margin: 0.1%;

    }
</style>
{% endblock %}
{% block contenu %}
    <h3>Créer un Nouveau Produit</h3>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}" class = "btn btn-primary">Retour Liste</a>
{% endblock %}
