{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block style %}
	<style></style>
{% endblock %}
{% block navbarTop %}
 <div class="logOut">  
    {% if app.user %}
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
   </div>
 {% endblock %}
 


{# mettre le contenu dans le bloc #}
{% block contenu %}{% endblock %}
	

