{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}
{% block bouton %}
<div class="liste">

<a class="btn btn-primary" href="" role="button">CLIENTS</a>

<a class="btn btn-primary" href="" role="button">Clients</a>

<a class="btn btn-primary" href="" role="button">Clients</a>

<a class="btn btn-primary" href="{" role="button">Clients</a>

<a class="btn btn-primary" href="" role="button">Clients</a>
</div>
{% endblock %}

{# mettre le contenu dans le bloc #}
{% block contenu %}
<h1>PAGE CATÉGORIES</h1>
{% endblock %}

