{% extends 'base.html.twig' %}

{% block title %}Édition Catégories
{% endblock %}
{% block style %}
	<style>
		h1 {
			text-align: center;
			color: blue;
		}
		.btn {
			border-radius:45px;
            width:15%;
			margin-left: 40%;
		}
	</style>

{% endblock %}


{% block contenu %}
	<div class="container">
		<h1>Modification Categorie</h1>
		<a class='btn btn-primary' href="{{ path('app_categories_index', {'id': category.id}) }}">Retour Liste</a><br>
		<tbody class="d-flex justify-content-center ">
			{{ include('categories/_form.html.twig', {'button_label': 'Modifier'}) }}
			<br>
			{{ include('categories/_delete_form.html.twig') }}
		</tbody>
	</div>
{% endblock %}
