{% extends 'base.html.twig' %}

{% block title %}Liste Catégories
{% endblock %}

{% block style %}
	<style>
    .image{
        height:40%;
        width:40%;
    }
    .option{
        height:100%;
        width:100%;
    }
    #btn-cat{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 15px;
    border: 0px solid #3c14ca;
    border-radius: 30px;
    background: #007bff;
    }
    </style>
{% endblock %}

{% block contenu %}

	<h1>Liste des Catégories</h1>

<div class='row'>
{% for category in categories %}

<div class="col-12 col-md-6 col-lg-4 col-xl-3 ">
<div class="card border-dark mb-3 mx-auto " id="options">
 
    <div class='card-header text-center'>
    <img src="/uploads/images/{{category.image}}" class='image' alt="Card image cap">
    </div>

    <div class="card-body">
      <h5 class="card-title">{{category.nom}}</h5>
</div>
 <a class='btn btn-primary' href="{{ path('app_categories_show', {'id': category.id}) }}">Voir</a>

 
     </div>  
    </div>

  {% endfor %}
    </div>

   
	<a class='btn btn-primary' id='btn-cat'href="{{ path('app_categories_new') }}">Nouvelle Catégorie</a>
					
 {% endblock %} 
