{% extends 'base.html.twig' %}

{% block title %}Création Catégories{% endblock %}
{% block style %}
<style>
    .btn{
    margin: 0.1%;

    }
</style>
{% endblock %}
{% block contenu %}
    <h3>Créer une Nouvelle Catégorie</h3>

    {{ include('categories/_form.html.twig') }}

   
    <br>
{% endblock %}
