{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block contenu %}
    <h1>Nouvelle Categorie</h1>

    {{ include('categories/_form.html.twig') }}

   <a class='btn btn-primary' id='btn-cat' href="{{ path('app_categories_index', {'id': category.id}) }}">Retour Liste</a><br>
    <br>
{% endblock %}
