{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}
	<div class="container">
		<br/>
		<h1>Créer une Nouvelle Catégorie</h1>
		<br/>
		<a class='btn btn-primary' id='btn-cat' href="{{ path('app_categories_index', {'id': category.id}) }}">Retour Liste</a>
		<br/>
		<br/>
		<td>
			<div class="text-center">
				{{ include('categories/_form.html.twig') }}
			</div>
		</td>


	</div>


{% endblock %}
