{% extends 'base.html.twig' %}

{% block title %}Création Catégories{% endblock %}

{% block contenu %}
    <h1>Créer une Nouvelle Catégorie</h1>

    {{ include('categories/_form.html.twig') }}

   
    <br>
{% endblock %}
