/* CSS DE LA BASE */
body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.navbarTop {
  background-color: #007bff;
  text-align: center;
  height: 10%;
  width: 100%;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}
.navbarGauche {
  float: left;
  width: 20%;
  background-color: #007bff;
}
.menuCentre {
  float: right;
  width: 80%;
  height: 100%;
  background-color: white;
}

.logo {
  width: 17%;
  height: 50%;
  margin-right: 80%;
  margin-left: 2%;
  margin-top: 2%;
}
/* fin */

/* CSS BOUTONS */

.liste {
  padding-top: 30%;
}
#btnT a {
  text-decoration: none;
  color: white;
}

#btnT {
  border-radius: 4px;

  text-align: center;
  width: 100%;
  margin-left: 36px;
  margin-bottom: 60px;
  -webkit-box-shadow: 5px 5px 36px 5px #000000;
  box-shadow: 5px 5px 36px 5px #000000;

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#btnT:hover {
  padding-right: 24px;
  padding-left: 8px;
}

/* FIN */
 /* CLasse LOGOUT */
.logOut{

   
    margin-left: 57%;
    margin-top: -3%;
    margin-right: 0%;
}