{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}
{% block bouton %}
<div class="liste">

<a class="btn btn-primary" href="" role="button">Clients</a>

<a class="btn btn-primary" href="" role="button">Clients</a>

<a class="btn btn-primary" href="" role="button">Clients</a>

<a class="btn btn-primary" href="{" role="button">Clients</a>

<a class="btn btn-primary" href="" role="button">Clients</a>
</div>
{% endblock %}

{% block contenu %}

{% endblock %}


