{% extends 'base.html.twig' %}

{% block title %}Création Client
{% endblock %}

{% block style %}
	<style></style>
{% endblock %}



{% block contenu %}
	<h1>Créer un Client</h1>

	{{ include('client/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	

	{{ include('client/_delete_form.html.twig') }}
{% endblock %}
