{% extends 'base.html.twig' %}

{% block title %}Nouveau client
{% endblock %}
<<<<<<< HEAD

{% block style %}
	<style></style>
{% endblock %}


=======
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128
{% block contenu %}
	<div class="container">
		<br/>
		<h1>Créer un nouveau client</h1>
		<br/>
		<a class='btn btn-primary' id='btn-cat' href="{{ path('app_client_index') }}">Retour Liste</a>
		<br/>
		<br/>
		<td>
			<div class="text-center">
				{{ include('client/_form.html.twig') }}
			</div>
		</td>


	</div>

{% endblock %}

