{% extends 'base.html.twig' %}

{% block title %}Édition Marque{% endblock %}

{% block contenu %}
    <h1>Éditer une Marque</h1>

    {{ include('marque/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}

    <a href="{{ path('app_marque_index') }}">Retour Liste</a>

    {{ include('marque/_delete_form.html.twig') }}
{% endblock %}
