{% extends 'base.html.twig' %}

{% block title %}New Marque{% endblock %}

{% block contenu %}
    <h3>Créer Une Nouvelle Marque</h3>

    {{ include('marque/_form.html.twig') }}

    <a href="{{ path('app_marque_index') }}">Retour Liste</a>
{% endblock %}
