{% extends 'base.html.twig' %}

{% block title %}New Marque
{% endblock %}

{% block style %}
	<style>
		.btn {
			margin: 0.2%
		}
	</style>
{% endblock %}
{% block contenu %}
	<h3>Créer Une Nouvelle Marque</h3>

	{{ include('marque/_form.html.twig') }}

	<a href="{{ path('app_marque_index') }}" class="btn btn-primary">Retour Liste</a>
{% endblock %}
