<form method="post" action="{{ path('app_tickets_delete', {'id': ticket.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce Ticket?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
    <button class="btn">Supprimer</button>
</form>
