{% extends 'base.html.twig' %}

{% block title %}Modification du Ticket{% endblock %}

{% block contenu %}
    <h1>Modification du Ticket</h1>

    {{ include('tickets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tickets_index') }}" class="btn btn-primary">Retour liste</a>

    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}
