{% extends 'base.html.twig' %}

{% block title %}Modification Tickets{% endblock %}

{% block contenu %}
    <h1>Modifier Tickets</h1>

    {{ include('tickets/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary" href="{{ path('app_tickets_index') }}">Retour liste</a>

    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}
