{% extends 'base.html.twig' %}

{% block title %}Modification du Ticket
{% endblock %}

{% block contenu %}
	<div class="container">

		<h1>Modification du Ticket</h1>
		<a href="{{ path('app_tickets_index') }}" class="btn btn-primary">Retour liste</a>
		<tbody class="d-flex justify-content-center ">

			{{ include('tickets/_form.html.twig', {'button_label': 'Modifier'}) }}
            <br>
			{{ include('tickets/_delete_form.html.twig') }}
		</tbody>
	</div>
{% endblock %}
