{% extends 'base.html.twig' %}

{% block title %}Nouveau ticket
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}
	<div class="container">
		<br/>
		<h1>Nouveau ticket</h1>
		<br/>
		<a href="{{ path('app_tickets_index') }}" class="btn btn-primary">Retour liste</a>
		<br/>
		<br/>
		<td>
			<div class="text-center">

				{{ include('tickets/_form.html.twig') }}
			</div>
		</td>


	</div>


</div>
{% endblock %}
