{% extends 'base.html.twig' %}

{% block title %}Nouveau Ticket{% endblock %}

{% block contenu %}
    <h1>Creer un nouveau Ticket</h1>

    {{ include('tickets/_form.html.twig') }}


    

    <a class="btn btn-primary" href="{{ path('app_tickets_index') }}">Retour liste</a>

{% endblock %}
