{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block style %}
<style>
    .btn{
    margin: 0.1%;

    }
</style>
{% endblock %}

{% block contenu %}
    <h3>Création d'un nouvel Utilisateur</h3>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}" class ="btn btn-primary">Retour Liste</a>
{% endblock %}
