{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block contenu %}
	<div class="container">
		<h1>Nouvel employé</h1>
		<a href="{{ path('app_user_index') }}"class="btn btn-primary">Retour liste</a>
		<tbody class="d-flex justify-content-center ">
 
			{{ include('user/_form.html.twig') }}
		</tbody>


	</div>
{% endblock %}
